
        <div class="container">
            <div class="popular-tags">
                <h2>Popüler Kategoriler</h2>
                <ul>
                    <li><a href="">İş Hayatı</a></li>
                    <li><a href="">Yazılım</a></li>
                    <li><a href="">Hukuk</a></li>
                    <li><a href="">Bilim</a></li>
                    <li><a href="">Yapay Zeka</a></li>
                </ul>
            </div>
            <div class="article">
                <div class="title">
                    <h2>{{posts.title}}</h2>
                </div>
                <div class="article-img">
                    <img src="/images/post-image-medium.jpeg">
                </div>
                <span class="article-date-owner">{{posts.author}} Aralık 2021</span>
                <div class="article-text">
                    <p>{{posts.content}}</p>
                    {{!-- <p>Praesent finibus molestie mollis. Nunc ornare placerat mollis. Nam ac justo nec nibh luctus auctor. Curabitur purus tortor, porttitor non rutrum sed, suscipit sit amet ante. Proin sagittis quis diam sit 
                        amet scelerisque. Proin cursus eros a sem egestas, ac imperdiet odio convallis. Nunc massa neque, consectetur interdum diam vitae, bibendum tristique nisi. Pellentesque hendrerit nisi libero, venenatis 
                        porta felis ultricies vel. Curabitur maximus mollis accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi et vestibulum urna. Praesent egestas ex aliquam 
                        imperdiet euismod.</p>
                    <p>Quisque et pharetra purus, non condimentum tortor. Sed vel nisl ac magna ullamcorper accumsan ac tristique odio. In lacus purus, placerat vel convallis at, ultrices vel ex. Sed maximus sed odio vel egestas. 
                        Etiam ultricies, turpis id porta suscipit, odio mi lacinia nulla, nec laoreet nulla ipsum ac est. Morbi bibendum quam at sapien eleifend, ac semper turpis iaculis. Curabitur tristique at urna nec dapibus. 
                        Ut tempus felis et magna auctor volutpat.</p>
                    <p>Proin nec mi eget nunc aliquam rutrum. Sed elementum lectus a egestas aliquet. Nullam purus lorem, mollis ut vestibulum quis, rhoncus quis justo. Suspendisse luctus scelerisque imperdiet. Ut auctor congue augue,
                        at gravida risus porta in. Sed id ante quis mi auctor auctor non quis magna. Mauris efficitur aliquet massa, a commodo turpis mollis vitae. Quisque sit amet nisi pharetra tellus maximus tincidunt a vitae tortor.
                        Vestibulum in volutpat orci. Duis a justo nec tellus lacinia imperdiet. Phasellus consectetur in magna vitae vestibulum. Donec a arcu egestas, commodo purus at, blandit mi. Fusce at lectus leo. Morbi tortor eros,
                        lacinia id tempus quis, vehicula eu odio.</p> --}}
                </div>
            </div>
            {{!-- <div class="owner-info">
                <div class="owner-photo img"></div>
                <h2 class="owner-name">Ayşe Fatma</h2>
                <p class="owner-bio">Bilgisayar Mühendsiliği öğrencisi.</p>
                <div class="all-articles-btn"><a href="">Tüm yazıları gör</a></div>
            </div> --}}
        </div>
